<html>
    <head>
        <body>
         <h1>Form to add meds</h1>

            <form class="" action="/meds/add" method="post">
            <input type="text" name="name" placeholder="medicine name"/>
 
              <input type="text" name="count" placeholder="count"/>
                <input type="text" name="brand" placeholder="brand"/>
                <button type="submit">Add</button>
        </body>
    </head>
</html>